.s-base-modal,
.s-base-modal__mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
}

.s-base-modal__mask {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.s-modal {
  &__container {
    position: relative;
    margin: 15vh auto 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    width: 30%;
  }
  .is-alignCenter {
    margin-top: 0%;
    top: 50%;
    transform: translateY(-50%);
  }

  &__header {
    color: #606266;
    padding: 20px;
    padding-bottom: 10px;
    margin-right: 16px;
    word-break: break-all;
  }

  &__close {
    position: absolute;
    right: 30px;
    top: 20px;

    &:hover {
      cursor: pointer;

      path {
        fill: #409eff;
      }
    }
  }

  &__body {
    padding: 30px 30px;
    color: #606266;
    font-size: 14px;
    word-break: break-all;
  }

  &__footer {
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
  }
}
